#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  #root {
    width: 100%;
  }
}

/*GENERAL*/
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle__exc {
  color: #6791ff;
}

.header {
  height: 100vh;
  padding-bottom: 32px;
}
@media screen and (max-width: 800px) {
  .header {
    height: 95vh;
  }
}
.header__logo {
  width: fit-content;
  color: #6791ff;
  font-weight: bold;
}
.header__nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #1f2537;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
}
.header__nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1280px) {
  .header__nav__wrapper {
    padding: 8px;
  }
}
.header__nav__links {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__nav__links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.header__nav__links a:hover {
  transition: all 300ms ease-in-out;
  color: #6791ff;
}
.header__download {
  text-decoration: none;
  background-color: #5779E0;
  border-radius: 4px;
  box-shadow: 0px 0px 4px -1px #6c90fa;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  color: #fff;
  font-weight: 600;
  margin-top: 8px;
  letter-spacing: 0.5px;
}
.header__button {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__button span {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  color: #6791ff;
}
.header__title {
  font-size: 2rem;
  color: #6791ff;
}
@media screen and (max-width: 800px) {
  .header__title {
    font-size: 1.5rem;
  }
}
.header__subtitle {
  font-size: 1.5rem;
}
@media screen and (max-width: 800px) {
  .header__subtitle {
    font-size: 1rem;
  }
}
.header__container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  align-items: center;
}
.header__about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
  flex: 4;
}
@media screen and (max-width: 800px) {
  .header__about {
    flex-direction: column;
    margin-top: 0px;
  }
}
@media screen and (max-width: 800px) {
  .header__desc {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
  }
}
.header__links {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e6e6e6;
  width: fit-content;
}
.header__links:hover {
  transition: all 300ms ease-in-out;
  color: #6791ff;
}
.header__links span {
  color: #6791ff;
}
.header__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
.header__img img {
  width: 100%;
  object-fit: cover;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.footer__copy {
  text-align: center;
  padding: 60px 0px 0px 0px;
}
.footer__link {
  color: #fff;
  border-top: 1px solid #fff;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  padding: 16px 0px;
}

.contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 4;
}
@media (max-width: 1280px) {
  .contact {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 800px) {
  .contact {
    min-height: 50vh;
  }
}
.contact__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media (max-width: 1280px) {
  .contact__wrapper {
    flex: none;
  }
}
.contact__bg {
  background-color: #5779E0;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
@media screen and (max-width: 800px) {
  .contact__bg {
    width: 100%;
    background-color: transparent;
    padding: 0px 8px;
  }
}
.contact__content {
  background-color: #1f2537;
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 15px;
}
.contact__about {
  flex: 1;
}
.contact__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  list-style: none;
  gap: 16px;
}
.contact__item {
  font-size: 1.5rem;
  color: #86a4ff;
  cursor: pointer;
}
.contact__item:hover {
  transition: all 300ms ease-in-out;
  color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  gap: 16px;
}
.form__input, .form__msg, .form__btn {
  padding: 8px;
  width: 100%;
  border: 1px solid #6c90fa;
  background-color: #1f1f1f;
  border-radius: 5px;
}
.form__input:focus, .form__msg:focus, .form__btn:focus {
  outline: none;
}
.form__msg {
  flex: 0.6;
  resize: none;
}
.form__btn {
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
}
.form__btn:hover {
  transition: all 300ms ease-in-out;
  background-color: #353535;
}
.form__text {
  font-size: 0.6rem;
  text-align: center;
}
.form__text a {
  text-decoration: none;
}

/* CARD */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .main {
    padding: 8px;
  }
}
.main__cards {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .main__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 8px;
    min-height: 100vh;
  }
}
@media screen and (max-width: 800px) {
  .main__cards {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  width: 300px;
  height: 450px;
  background-color: #1f2537;
  border-radius: 20px;
  gap: 8px;
  border: 1px solid #1f1f1f;
}
@media (max-width: 1280px) {
  .card {
    width: 95%;
    height: 492px;
  }
}
@media screen and (max-width: 800px) {
  .card {
    height: auto;
  }
}
.card__header {
  width: 100%;
  overflow: hidden;
}
.card__title {
  font-size: 1.1rem;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 8px;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  justify-content: space-between;
}
.card__list {
  display: flex;
  list-style: none;
  padding: 8px 0px;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}
.card__item {
  border: 1px solid #6791ff;
  padding: 4px 8px;
  border-radius: 20px;
}
.card__link {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px 0px;
  color: #e6e6e6;
}
.card__link:hover {
  transition: all 300ms ease-in-out;
  color: #6791ff;
}

/*# sourceMappingURL=styles.css.map */
