#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

/*GENERAL*/
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle__exc {
  color: #6791ff;
}

.header {
  height: 100vh;
  padding-bottom: 32px;
}
.header__logo {
  width: fit-content;
  color: #6791ff;
  font-weight: bold;
}
.header__nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #1f2537;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
}
.header__nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 100%;
}
.header__nav__links {
  display: flex;
  gap: 24px;
  align-items: center;
}
.header__nav__links a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}
.header__nav__links a:hover {
  transition: all 300ms ease-in-out;
  color: #6791ff;
}
.header__download {
  text-decoration: none;
  background-color: #5779E0;
  border-radius: 4px;
  box-shadow: 0px 0px 4px -1px #6c90fa;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  color: #fff;
  font-weight: 500;
  margin-top: 8px;
}
.header__button {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__button span {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  color: #6791ff;
}
.header__title {
  font-size: 2rem;
  color: #6791ff;
}
.header__subtitle {
  font-size: 1.5rem;
}
.header__container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  align-items: center;
}
.header__about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
  flex: 4;
}
.header__links {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #e6e6e6;
  width: fit-content;
}
.header__links:hover {
  transition: all 300ms ease-in-out;
  color: #6791ff;
}
.header__links span {
  color: #6791ff;
}
.header__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.header__img img {
  width: 100%;
  object-fit: cover;
}

/* FOOTER */
.footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer__copy {
  text-align: center;
  padding: 60px 0px 30px 0px;
  flex: 1;
}

.contact {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 4;
}
.contact__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.contact__bg {
  background-color: #6c90fa;
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__content {
  background-color: #1f2537;
  height: 350px;
  width: 70%;
  display: flex;
  flex-direction: row;
}
.contact__about {
  flex: 1;
}
.contact__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
  list-style: none;
  padding: 16px;
}
.contact__item {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.1rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  padding: 16px;
  gap: 16px;
  flex: 1;
}
.form__input, .form__msg, .form__btn {
  padding: 8px;
  width: 100%;
  border: 1px solid #6c90fa;
  background-color: #1f1f1f;
}
.form__input:focus, .form__msg:focus, .form__btn:focus {
  outline: none;
}
.form__msg {
  flex: 0.5;
}
.form__btn {
  width: fit-content;
  padding: 8px 16px;
  cursor: pointer;
}

/* CARD */
.main {
  height: 100vh;
  display: flex;
  align-items: center;
}
.main__cards {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  width: 300px;
  height: 450px;
  background-color: #1f2537;
  border-radius: 20px;
  gap: 8px;
  border: 1px solid #1f1f1f;
}
.card__header {
  width: 100%;
  overflow: hidden;
}
.card__title {
  font-size: 1.1rem;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__content {
  padding: 8px;
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  justify-content: space-between;
}
.card__list {
  display: flex;
  list-style: none;
  padding: 8px 0px;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}
.card__item {
  border: 1px solid #6791ff;
  padding: 4px 8px;
  border-radius: 20px;
}
.card__link {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 8px 0px;
  color: #e6e6e6;
}
.card__link:hover {
  transition: all 300ms ease-in-out;
  color: #6791ff;
}

/*# sourceMappingURL=styles.css.map */
